*{
    background-color: rgb(200, 215, 215);
}

header{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
section{
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 1.8rem;
    
}
.option{
    display: grid;
    justify-content: center;
    align-items: center;
}
form{
    border: 2px solid black;
    padding: 3em 2em 1em 2em;
    display: grid;
    background-color: whitesmoke;
}
button{
    width: 20em;
    padding: 2em;
    margin: 2em;
    margin-left: 5.4em;
    background-color: green;
    color: aliceblue;
}
button:hover{
    background-color: rgb(43, 71, 6);
}
input{
    margin-bottom: 1rem;
    padding: 2em 10em;
    background-color: whitesmoke;
}
#r_cd{
    width: 30em;
    padding: 1em;
    margin: 1em;
    margin-left: 0.4em;
    background-color: blue;
}